@use 'colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

body {
  font-size: 1.4rem;
  color: $fonte;
  background-color: $background-3;
  font-family: 'Dosis', sans-serif;
}
